<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo-List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/lib/jquery-3.4.1.min.js"></script>
</head>
<body>

<div id="container">
    <h1>To-Do-List <i class="fas fa-plus"></i></h1>
    <form action="/" method="POST">
        <input type="text" name= "name" placeholder= "Add New ToDo">
    </form>
    

    <% alltodo.forEach(function(todo){ %>
        <ul>
            <!-- <li><span><i class="fa fa-trash"></i></span> Mustafiz</li>
            <li><span><i class="fa fa-trash"></i></span> Kaifee</li>
            <li><span><i class="fa fa-trash"></i></span> Mumtaz</li> -->
            <li>
                <form action="/<%= todo._id %>?_method=DELETE" method="POST">
                    <button id="trash"><span><i class="fa fa-trash"></i></span></button> <%= todo.name %>  <span id="date"><%= todo.created.toDateString() %></span>   
                </form>
            </li>
        </ul>
    <% }); %>
</div>


<script type= "text/javascript" src="/js/todo.js"></script>
</body>
</html>